.Paragraph {
    margin: 0;
    background-color: #14111f;
    color: white;
    padding: 20px;
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Arial;
    text-align: left;
}  

.Subheader {
    margin: 0;
    background-color: #14111f;
    color: white;
    padding: 20px;
    padding-bottom: 0px;
    font-family: Arial;
    text-align: left;
} 

.Header {
    margin: 0;
    background-color: #020918;
    color: white;
    padding: 10px;
    font-family: Arial;
    text-align: center;
}

.Wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 10px;
    background-color: #100d1b;
    max-width: 1080px;
}

.Photo {
    width: 75%;
    height: 75%;
}

.Center {
    display: flex;
    background-color: #100d1b;
    justify-content: center;
}

.Content {
    display: flex;
    justify-content: left;
    background-color: #100c1d;
}