.Paragraph {
    margin: 0;
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Arial;
    text-align: left;
}  

.Subheader {
    margin: 0;
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
    padding-bottom: 0px;
    font-family: Arial;
    text-align: left;
} 

.Header {
    margin: 0;
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
    font-family: Arial;
    text-align: center;
}

.Wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 10px;
    background-color: #ffffff;
    color: #000000;
    max-width: 1080px;
}

.Photo {
    width: 425px;
    height: 345px;
}

.Center {
    display: flex;
    background-color: #ffffff;
    color: #000000;
    justify-content: center;
}

.Content {
    display: flex;
    justify-content: left;
    background-color: #ffffff;
    color: #000000;
}