.Paragraph {
    margin: 0;
    background-color: white;
    color: #000000;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Arial;
    text-align: left;
}  

.PaddingLess {
    margin: 0;
    background-color: white;
    color: #000000;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: Arial;
    text-align: left;
}

.Subheader {
    margin: 0;
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
    padding-bottom: 0px;
    font-family: Arial;
    text-align: left;
}

.Header {
    margin: 0;
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
    font-family: Arial;
    text-align: left;
}